<div class="clearfix"></div>
<div class="row section-footer text-center no-margin">
	<div class="col-xs-12 no-padding">
		<div class="col-xs-12 col-sm-6 footer-menu">
			<div class="col-xs-4"><a class="lp-a">{% if lan=='en' %}About Us{% endif %}{% if lan!='en' %}Om oss{% endif %}</a>
			</div>
			<div class="col-xs-4"><a class="lp-a" href="{{{nav.pricing}}}">{% if lan=='en' %}Pricing{% endif %}{% if lan!='en' %}Priser{% endif %}</a>
			</div>
			<div class="col-xs-4"><a class="lp-a" href="{{{nav.legal}}}">{% if lan=='en' %}Legal{% endif %}{% if lan!='en' %}Villkor{% endif %}</a>
			</div>
		</div>
		<div class="col-xs-8 col-sm-3 footer-share no-padding">
			<div class="col-xs-12 footer-share-title no-padding">{% if lan=='en' %}Follow Us On{% endif %}{% if lan!='en' %}Följ oss på{% endif %}</div>
			<div class="col-xs-12 no-padding">
				<div class="shere-btn">
					<a href="https://www.facebook.com/BejabooSverige/">
						<img src="/pub/img/fb-icon-orange.png" alt="">
					</a>
				</div>
				<div class="shere-btn">
					<a href="https://www.instagram.com/bejaboosverige/">
						<img src="/pub/img/insta-orange.png" alt="">
					</a>
				</div>
				<div class="shere-btn">
					<a href="https://twitter.com/bejabooonline">
						<img src="/pub/img/twitter-orange.png" alt="">
					</a>
				</div>
			</div>
		</div>
		<div class="col-xs-4 col-sm-3 footer-logo">
			<img src="/pub/img/logo-white-small.png" alt="">
		</div>
	</div>
</div>